@model proyectoWebII_empresa_asp.net.Models.Soporte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Soporte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo_problema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo_problema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle_problema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle_problema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resp_reportar_probl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resp_reportar_probl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_actual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_actual)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
